@model CasgemPortfolio.Models.Entities.TblReference
@{
    ViewBag.Title = "AddRefererence";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni - Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı</label>
    @Html.TextBoxFor(x => x.ReferenceName, new { @class = "form-control" })
    <br />
    <label>Referans Soyadı</label>
    @Html.TextBoxFor(x => x.ReferenceSurname, new { @class = "form-control" })
    <br />
    <label>Referans Bilgileri</label>
    @Html.TextBoxFor(x => x.ReferenceInfo, new { @class = "form-control" })
    <br />
    <label>Referans Fotoğrafı</label>
    @Html.TextBoxFor(x => x.ReferenceImage, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>