<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="title-big">
                        İşletmenize hemen yeni ve yaratıcı bir başlangıç ​​yapabilirim. Projeleriniz için lütfen iletişime geçin.
                    </h3>
                    <p class="mt-3">
                        Bilgisayar mühendisliği 4. sınıf öğrencisi olarak, sizlere daha iyi hizmet verebilmek için bu konularda kendimi oldukça geliştirdim. Projelerinizde iyi bir görünüm elde etmek, portfolyonuzu
                        güzel bir hale çevirmek ve kendinize has bir portfolyo oluşturmak için benimle iletişime geçmekten çekinmeyin.
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/Templates/alexander-starter/assets/images/bg.jpg" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/Cu2VnoRcxKM" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>